* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.upper-container {
    width: 60%;
    height: 10%;
    margin: 50px auto;
    position: relative;
}

.upper-container1 {
    width: 35%;
    height: 100%;
    padding-top: 35px;
}

#tasks {
    font-weight: bold;
    font-size: 50px;
}

#lists {
    font-size: 50px;
    font-weight: lighter;
    margin-left: 10px;
    opacity: 0.4;
}

.upper-container2 {
    width: 35%;
    height: 100%;
    padding-top: 35px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#circle {
    margin: auto 60px;
}

#addlist {
    width: 80%;
    height: 100%;
    padding-top: 38px;
    position: absolute;
    top: 0px;
    right: -15px;
    margin: auto -30px;
    font-size: 28px;
    opacity: 0.4;
}

.price-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto;
}

.card1 {
    width: 14%;
    height: 50vh;
    position: relative;
    margin-top: 10px;
    border: 1.5px solid red;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
    text-align: center;
}

.div1 {
    width: 85%;
    height: 15%;
    position: absolute;
    top: 35px;
    right: 0px;
    text align: left;
    font-size: 23px;
    color: rgb(241, 38, 38);
    border-bottom: 1px solid grey;
}

a.button {
    color: inherit;
    text-decoration: inherit;
    color: red;
}

.div2 {
    width: 90%;
    height: 10%;
    position: absolute;
    top: 35%;
    left: auto font-size: 25px;
    color: rgb(241, 38, 38);
    text-align: right;
    font-weight: bold;
    text-decoration: 2px solid line-through rgb(241, 38, 38);
}

.div3 {
    width: 90%;
    height: 10%;
    position: absolute;
    top: 50%;
    text-align: left;
    font-size: 20px;
}

.div4 {
    width: 90%;
    height: 10%;
    position: absolute;
    top: 35%;
    left: auto font-size: 25px;
    color: rgb(241, 38, 38);
    text-align: center;
    font-weight: bold;
    text-decoration: 2px solid line-through rgb(241, 38, 38);
}

#check {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.card2 {
    width: 14%;
    height: 50vh;
    position: relative;
    margin-top: 10px;
    border: 1.5px solid red;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
    text-align: center;
}

.card3 {
    width: 14%;
    height: 50vh;
    position: relative;
    margin-top: 10px;
    border: 1.5px solid red;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
    text-align: center;
}

.card4 {
    width: 14%;
    height: 50vh;
    position: relative;
    margin-top: 10px;
    border: 1.5px solid red;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
    text-align: center;
}

.card5 {
    width: 14%;
    height: 50vh;
    position: relative;
    margin-top: 10px;
    border: 1.5px solid red;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
    text-align: center;
}

.not-show {
    filter: blur(6px);
    -webkit-filter: blur(8px);
}

.upper-container3 {
    width: 100%;
    height: 10%;
    padding-top: 40px;
    margin: 10px 150px;
}

#line1 {
    font-weight: bold;
    font-size: 40px;
    margin-left: 20%;
    text-decoration: 2px solid line-through lightslategray;
}

#line2 {
    font-weight: bold;
    font-size: 40px;
    margin-right: 20px;
    text-decoration: 2px solid line-through lightslategray;
}

#heading {
    font-weight: bolder;
    font-size: 50px;
    margin-left: auto;
}

#arrow {
    margin: 20px 50px;
}

.item-card1 {
    width: 20%;
    height: 54vh;
    position: absolute;
    margin: 40px 380px;
    border: 1.5px solid red;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
    text-align: center;
}

#item-check {
    width: 20px;
    height: 20px;
    margin-left: 50px;
}

#item-circle {
    margin: 250px 220px;
}

.pop-up {
    width: 30%;
    height: 30vh;
    padding: 20px;
    position: absolute;
    margin-top: -360px;
    margin-left: 30%;
    color: red;
    border: 1.5px solid red;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
    text-align: center;
    box-shadow: 3px 3px 10px grey;
    background-color: white;
}

#add-new {
    opacity: 0.7;
    font-size: 17px;
}

.pop-upbar {
    width: 80%;
    height: 27%;
    margin-top: 20px;
    border: 1.5px solid red;
    border-radius: 4px;
    box-shadow: 1px 1px 3px grey;
}

.pop-up-button {
    width: 25%;
    height: 20%;
    position: absolute;
    left: 155px;
    margin-top: 80px;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: red;
    font-size: 20px;
}

.pop-up1 {
    width: 30%;
    height: 30vh;
    padding: 20px;
    position: absolute;
    margin-top: 15px;
    margin-left: 30%;
    color: red;
    border: 1.5px solid red;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
    text-align: center;
    box-shadow: 3px 3px 10px grey;
    background-color: white;
}

@media (max-width:600px) {
    .upper-container {
        width: 80%;
    }
    .upper-container1 {
        width: 80%;
    }
    #tasks {
        font-weight: bold;
        font-size: 40px;
    }
    #addlist {
        display: none;
    }
    #circle {
        right: 40px;
    }
    .price-container {
        margin-bottom: 0px;
    }
    .div1 {
        border: none;
        color: grey;
    }
    .div2 {
        display: none;
    }
    .div3 {
        display: none;
    }
    .card1 {
        width: 90%;
        height: 20vw;
        margin-top: 10px;
        border: 1.5px solid lightpink;
        text-align: left;
    }
    .card2 {
        width: 90%;
        height: 20vw;
        margin-top: 10px;
        border: 1.5px solid lightpink;
        text-align: left;
    }
    .card3 {
        width: 90%;
        height: 20vw;
        margin-top: 10px;
        border: 1.5px solid lightpink;
        position: relative;
        text-align: left;
    }
    .card4 {
        width: 90%;
        height: 20vw;
        margin-top: 10px;
        border: 1.5px solid lightpink;
        position: relative;
        text-align: left;
        border-radius: 8px;
        box-shadow: 5px 5px 10px grey;
    }
    .card5 {
        width: 90%;
        height: 20vw;
        margin-top: 10px;
        border: 1.5px solid lightpink;
        position: relative;
        text-align: left;
        border-radius: 8px;
        box-shadow: 5px 5px 10px grey;
    }
    .pop-up {
        height: 48vw;
        width: 70%;
        left: 40px;
    }
    .pop-up-button {
        left: 90px;
    }
}